.cc_logo{
    width: 100px;
    position: absolute;
    left:87px;
    bottom:15px;
    pointer-events: none;
}
.respec_logo{
    width: 30px;
    position: absolute;
    left:45px;
    bottom:15px;
    pointer-events: none;
}
.mhfd_logo{
    width: 150px;
    position: absolute;
    left:35px;
    bottom: 105px;
    pointer-events:none;
}
